@model IEnumerable<Controle_Financeiro.Models.Gasto>

@{
    ViewData["Title"] = "Cadastre seus gastos";
}

<h1>Gastos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoriaGasto.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                @Html.DisplayFor(model => item.Id)
            </th>
            <th>
                @Html.DisplayFor(model => item.Nome)
            </th>
            <th>
                @Html.DisplayFor(model => item.Valor)
            </th>
            <th>
                @Html.DisplayFor(model => item.categoriaGasto.Name)
            </th>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detahes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
